@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-danger">Lista de jogos</h1>
    <h4 class="display-6 text-warning">Lorem ipsum blanditiis tempore esses sint iste.</h4>

    <img src="https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/f2207ed5a1a30b9199c2d3d3906f010a.jpg"
        width="750px;" class="rounded" alt="">

</div>
